* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --common-text-color: #ffffff;
}

body {
    background-color: #d9dcd6;
}

/* Header Styling START: Styled with flexbox */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: var(--common-text-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.header h1 {
    font-size: 48px;
    display: block;
    margin-left: 10px;;
}

.header h1 .seo {
    color: #d9dcd6;
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5hv;;
}
.header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.header nav ul li {
    margin-left: 25px;
}

a {
    color: var(--common-text-color);
    text-decoration: none;
}
/* Header Styling END */

/* Primary Image START */
.hero {
    height: 50vw;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
/* Primary Image END */

/* Section - Content START */
.content {
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 20px;
    column-gap: 20px;
}

.information {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 2 1 70%;
    column-gap: 20px;
    row-gap: 20px;
}

.search-engine-optimization {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex: 2 1 70%;
    margin-bottom: 20px;
    padding: 10px;
    /* height: 300px; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: var(--common-text-color);
}

.online-reputation-management {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex: 2 1 70%;
    margin-bottom: 20px;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: var(--common-text-color);
}

.social-media-marketing {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex: 2 1 70%;
    margin-bottom: 20px;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: var(--common-text-color);
}

.seo-img {
    flex: 1 1 12%;
    padding: 10px;
}

.seo-img img {
    max-height: 200px;
}


.seo-text {
    flex: 12 1 0%;
    padding: 10px;
}

.seo-text h2 {
    margin-bottom: 20px;
    font-size: 2.0vh;
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

p {
    font-size: 1.5vh;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* Section - Content END */








.benefit-lead {
    margin-bottom: 32px;
    color: var(--common-text-color);
}

.benefit-brand {
    margin-bottom: 32px;
    color: var(--common-text-color);
}

.benefit-cost {
    margin-bottom: 32px;
    color: var(--common-text-color);
}

.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}









.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
