/* Universal Selector */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Sturtural Pseudo Class */
:root {
    --common-text-color: #ffffff;
    --background-color-info: #0072bb;
    --primary-font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* [[START]] Header Class: styled with flexbox [[START]] */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: var(--common-text-color);
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    align-items: center;
}

.header h1 {
    font-size: 48px;
    display: block;
    margin-left: 10px;;
}

.header h1 .seo {
    color: #d9dcd6;
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: var(--primary-font);
    font-size: 1.8vh;
}
.header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.header nav ul li {
    margin-left: 25px;
}

a {
    color: var(--common-text-color);
    text-decoration: none;
}
/* [END] Header Class [END] */

/* Body Selector */
body {
    background-color: #d9dcd6;
}

/* [[START]] Hero Class: primay image [START] */
.hero {
    height: 60vw;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
/* [END] Hero Class [END] */

/* [[START]] Content Class: contains 'information' and 'benefits' class [[START]] */
.content {
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-left: 20px;
    column-gap: 20px;
}

/* Information Class: contains search engine optimiation, online reputation mamangement, 
    and social media marketing sections. */
.information {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 2 1 70%;
    column-gap: 20px;
    row-gap: 20px;
}

.sub-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex: 2 1 70%;
    margin-bottom: 20px;
    padding: 40px;
    font-family: var(--primary-font);
    background-color: var(--background-color-info);
    color: var(--common-text-color);
}

.seo-img {
    flex: 1 1 12%;
    padding: 10px;
}

.seo-img img {
    max-height: 200px;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.seo-text {
    flex: 12 1 0%;
    padding: 10px;
}

.seo-text h2 {
    margin-bottom: 20px;
    font-size: 2.0vh;
}

/* Benefits Class: contains lead generation, brand awareness, and cost management sections. */
.benefits {
    margin-right: 30px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    font-family: var(--primary-font);
    background-color: #2589bd;

}

.benefit-sub {
    margin-bottom: 32px;
    
}

.benefit-text {
    margin: 10px auto 10px auto;
    padding: 10px 0 0 0;
    color: var(--common-text-color);
    text-align: center;
    max-width: 50vw;
}

.benefit-img img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

p {
    font-size: 1.5vh;
}

/* When the Horiseon marketing website <= 1000px width, the benefits section expands to the full 
    width of the screen. This benefits tablet and/or phone users. */
@media (max-width: 1000px) {
    .benefits {
        width: 100%;
    }
}

/* When the Horiseon marketing website is >= 1000px width, the benefits section uses flexbox to 
    essentially 'float right'. This is done using flex-direction: column. */
@media (min-width: 1000px) {
    .benefits {
        display: flex;
        flex-direction: column;
    }
}

/* [END] Content Class [END] */

/* [[START]] Footer Class [[START]] */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
/* [END] Footer Class [END] */
